<%= render partial: 'header' %>

<%= link_to post_path(@post), class: 'ui labeled icon button' do %>
  <i class="arrow left icon"></i>
  Back
<% end %>

<div class="ui card fluid <%= random_color %>">
  <div class="content">
    <p><div class="header">Edit post</div></p>
    <div class="description">
      <%= render partial: 'form', locals: { post: @post } %>
    </div>
  </div>
</div>
