<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui section divider"></div>
    <%= image_tag 'logo.svg', class: 'ui centered tiny image' %>
  </div>
</div>
